services:
  app:
    build: .
    container_name: laravel-app
    command: >
      sh -lc "mkdir -p storage/framework/views storage/framework/cache storage/framework/sessions storage/framework/testing bootstrap/cache
      && chown -R www-data:www-data storage bootstrap/cache
      && chmod -R ug+rwX storage bootstrap/cache
      && php-fpm"
    volumes:
      - ./:/var/www/html
      - /var/www/html/vendor
      - /var/www/html/node_modules
    networks:
      - laravel
    ports:
      - "5173:5173"

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - /var/www/html/vendor
      - /var/www/html/node_modules
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.3
    container_name: laravel-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Paris
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  mailpit:
    image: axllent/mailpit:latest
    container_name: laravel-mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"  
      - "1025:1025"  
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  mysql_data:
