name: Generate Doxygen Docs

on:
  push:
    branches:
      - master  

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Generate documentation
        run: doxygen Doxyfile

      - name: Upload documentation artifact
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST_RECETTE }}
          username: ${{ secrets.SERVER_USER_RECETTE }}
          password: ${{ secrets.SERVER_PASSWORD_RECETTE }}
          port: 22
          script: |
            cd  ${{ secrets.DOC_SERVER_PATH_RECETTE }}
            rm -rf *
            cp -r /home/runner/work/sae-ikastola-Poloko/sae-ikastola-Poloko/docs/html/* .
      