name: PHP Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: mbstring, bcmath, pdo_mysql, xdebug
          coverage: xdebug

      - name: Install LibreOffice
        run: |
          sudo apt-get update
          sudo apt-get install -y libreoffice-writer libreoffice-calc --no-install-recommends

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --no-interaction

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm ci
      - run: npm run build

      - name: Copy .env
        run: cp .env.example .env

      - name: Generate app key
        run: php artisan key:generate

      - name: Run migrations
        env:
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_DATABASE: laravel_test
          DB_USERNAME: root
          DB_PASSWORD: root
        run: php artisan migrate --force

      # Install xmllint
      - name: Install xmllint
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils

      - name: Run tests with coverage and TestDox reports
        run: |
          mkdir -p build/reports
          ./vendor/bin/phpunit \
            --coverage-xml build/reports/coverage \
            --coverage-html build/reports/coverage/html \
            --testdox-html build/reports/testdox.html \
            --log-junit build/reports/junit.xml

      - name: Fail if coverage is not 100%
        run: |
          XML=build/reports/coverage/index.xml
          COVERAGE=$(xmllint --xpath "string(/*[local-name()='phpunit']/*[local-name()='project']/*[local-name()='directory']/*[local-name()='totals']/*[local-name()='lines']/@percent)" "$XML")
          PERCENT=$(printf "%.0f" "$COVERAGE")

          echo "Couverture détectée : $PERCENT%"

          if [ "$PERCENT" -lt 100 ]; then
            echo "❌ La couverture doit être à 100% — Actuellement : $PERCENT%"
            exit 1
          fi

          echo "✅ Couverture OK à 100%"

      - name: Clean directory on server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST_RECETTE }}
          username: ${{ secrets.SERVER_USER_RECETTE }}
          password: ${{ secrets.SERVER_PASSWORD_RECETTE }}
          port: 22
          script: |
            cd ${{ secrets.COVERAGE_SERVER_PATH_RECETTE }}
            rm -rf *

      - name: Upload coverage to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST_RECETTE }}
          username: ${{ secrets.SERVER_USER_RECETTE }}
          password: ${{ secrets.SERVER_PASSWORD_RECETTE }}
          port: 22
          source: "build/reports/coverage/*"
          target: ${{ secrets.COVERAGE_SERVER_PATH_RECETTE }}
